body{
    height: 1000px;
}
.mainnavbar{
    background-color: black;
    position: fixed;
    width:100%;
    margin: 0px;
}

.loginbutton{
    height:40px;
    margin-left: 4px;
    margin-right:3px;
    border-radius: 20px;
    background-color:cornflowerblue
}

.signinbutton{
    height: 40px;
    border-radius: 20px;
    margin-left: 3px;
    background-color: cornflowerblue;
    
}
.image{
    background-image: url(/public/img/ok.jpg);
    height: 1000px;
    width: 100%;
}